<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bill converter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>

</head>
<body>

<center>
    <h3>SZCZEGÓŁY FAKTURY</h3>
</center>

<table>
    <thead>
    <tr>
        <th> Kontrahent</th>
        <th> Numer</th>
        <th> Data</th>
        <th> Wartość cła</th>
        <th> Koszt wysyłki w $</th>
        <th> Kurs dolara</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${bills.contractorName}">  </span></td>
        <td><span th:text="${bills.number}">  </span></td>
        <td><span th:text="${bills.date}">  </span></td>
        <td><span th:text="${bills.amountOfDuty}">  </span></td>
        <td><span th:text="${bills.shipingCost}">  </span></td>
        <td><span th:text="${bills.dollarCost}">  </span></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Nazwa Towaru:</th>
        <th> Nr katalogowy</th>
        <th> Ilość</th>
        <th> Cena w $</th>
        <th> Cena w zl</th>
        <th> Suma w zl</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${billPositions.empty}">
        <td colspan="2"> No positions Available</td>
    </tr>
    <tr th:each="billpos : ${billPositions}">
        <td><span th:text="${billpos.name}">  </span></td>
        <td><span th:text="${billpos.catalogNumber}">  </span></td>
        <td><span th:text="${billpos.amountOfStock}">  </span></td>
        <td><span th:text="${billpos.priceInDolars}">  </span></td>
        <td><span th:text="${billpos.priceInZl}">  </span></td>
        <td><span th:text="${billpos.positionTotalCostInZl}">  </span></td>
    </tr>
    </tbody>
</table>
<br>
<p style="text-align: center; font-size:120%;">
    Suma faktury netto w zł:
    <span th:text="${bills.totalCostInZl}"></span>

</p>
<br>
<br>
<center>
    <a href="/allBills">Back</a>
    <a href="/index">Menu</a>
    <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${bills.getId()} + '/editBill'}">Edit</a></td>
    <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${bills.getId()} + '/toPdf'}">To pdf</a></td>
    <br>
    <br>
    <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${bills.getId()} + '/deleteBill'}">Delete</a></td>
    <form th:action="@{/logout}" method="post">

</center>
</body>

</html>